/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.header h2 {
  color: #00366b;
  font-size:25px;
  font-weight: bold;
  margin-bottom: 20px;
  
}
.profile img {
    width: 50px;
    height: 50px;
}
.profile{
  display: flex;
  align-items: center;
}

.profile h3 {
  color:#1976d2;
}