.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.header h2 {
  color: #00366b;
  font-size:25px;
  font-weight: bold;
}
.header h2 span{
  color:#ff9900;
}

.profile img {
    width: 50px;
    height: 50px;
}
.header img{
  width: 47px;
}
.profile{
  display: flex;
  align-items: center;
}

.profile h3 {
  color:#1976d2;
}
.header button{
  color: #ff9900;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px; /* espaçamento entre o botão e a logo */
}

@media only screen and (max-width: 401px) {
  .header img{
  width: 35px;
  }

  .header h2 {
  font-size:20px; 
  }
}